.space-between-center-div {
    display: flex;
    justify-content: space-between;
    align-self: "center"
}

.mr-40 {
    margin-right: 40px;
}

#note {
    position: relative;
}

#note img {
    margin-right: 8px;
    width: 30px;
}

.space-between-center-div  p {
    font-size: 14px;
    color: white
}

#info-count {
    border-radius: 50%;
    background-color: #EA6C00;
    font-size: 10px;
    color: white;
    width: 18px;
    position: absolute;
    left: 28px;
    top: 15px
}